apiVersion: v1
kind: PersistentVolume
metadata:
  name: jenkins-home-pv
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "{{ project_root }}/jenkins_home" 